@import '../mixins/aspect_ratio';
@import 'compass/css3/transition';

.food {
  @include aspect-ratio(1,1);

  overflow-x: hidden;

  &::before {
    background-color: #e1e1e1;
    content: 'loading...';
    text-align: center;
  }

  .content {
    background-position: center;
    background-size: cover;
  }

  .meta {
    @include transition(right .3s ease-out);

    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: -100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
  }

  .category:first-child {
    font-size: 2rem;

    .nutrition {
      margin-top: 10px;
    }
  }

  .nutrition {
    font-size: 1rem;
  }

  .delete-link {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #e6e6e6;
  }

  a {
    color: white;
    text-decoration: none;
  }

  &.active {
    .meta {
      right: 0;
    }
  }
}