@import '../mixins/vertical_align';

.processing {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 3;
  text-align: center;
  color: white;

  i {
    @include vertical_align();
  }
}