<footer>
  <div class='actions text-center my-3'>
    <%= simple_form_for Food.new do |f| %>
      <label for='food_image'>
        <i class="fas fa-2x fa-plus-circle"></i>
      </label>
      <%= f.file_field :image %>
    <% end %>
  </div>
</footer>
