<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class='container'>
      <button class="navbar-toggler off-canvas-toggler-left" type="button" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to image_tag('logo/logo.png'), root_path, class: 'navbar-brand' %>
      <a class="d-lg-none"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">Menu</div>
    </div>
  </nav>
</header>